/***--- Generics ---***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* /reset */

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

/***--- /Generics ---***/

/***--- CONTENT ---***/

/***+ SCROLLBAR +***/

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #30ff00);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #00c6ff);
}
/***+ SCROLLBAR +***/

/****** HEADER ******/

header nav {
  height: 7.5vh;
  width: 100%;
  position: fixed; /* attenzione esce dal flusso, compromesso: dare un valore di altezza fisso e dare un margin top equivalente */
  padding: 10px 0;
  background-color: #fff;
}

#start-pages {
  margin-top: 7.5vh;
}

/****** /HEADER ******/

/****** MAIN ******/

/*** QUERY SECTION ***/
#query > details {
  border-top: 2px solid gray;
  padding: 40px 0;
}

#query > details:last-child {
  border-bottom: 2px solid gray;
  margin-bottom: 40px;
}

/*** /QUERY SECTION ***/

/****** /MAIN ******/

/****** FOOTER ******/

footer {
  background-color: black;
  color: #fff;
}
footer a {
  text-decoration: none;
  color: #fff;
}

/****** /FOOTER ******/

/****** CONTAINER ******/

.container-max {
  width: calc(100vw - 12px); /* 12px sono la scrollbar! */
}

.container-80vw {
  width: 80vw;
  margin: auto;
}

.container-70vw {
  width: 70vw;
  margin: auto;
}

/*** CLIENT SECTION ***/

#logo-grid > .container-box {
  width: calc((100vw - 12px) / 3);
  height: calc((100vw - 12px) / 3);
}
.box {
  width: 50%;
  height: 50%;
}
/*** CLIENT SECTION ***/

/****** /CONTAINER ******/

.container-80vw {
  background-color: blue;
}
.container-70vw {
  background-color: rgb(0, 255, 128);
}
.box,
#principal {
  border: 5px solid red;
  background-color: blueviolet;
}
